.DS_Store
.build/
build/
dist/
downloads/
R:/
DerivedData/
*.xcresult
*.profraw
*.dmg
*.zip
*.log
Vendor/NLLBTranslator/__pycache__/
LocalScribe/Resources/SherpaOnnx/
LocalScribe/Resources/WhisperVAD/
LocalScribe/Resources/NLLBTranslator/
